<ion-view title="Slider Page" hide-nav-bar="true" id="page5">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="sliderPage-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="sliderPage-slide24" style="background-color:#2D66E0;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h2 id="sliderPage-heading3" style="color:#000000;text-align:center;">WELCOME</h2>
              <div class="spacer" style="width: 320px; height: 20px;"></div>
              <div>
                <img src="img/aa-mobile-app.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="width: 320px; height: 20px;"></div>
              <div id="sliderPage-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#000000;font-size:20px;">Training Application</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="sliderPage-slide28" style="background-color:#BEBEB4;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h2 id="sliderPage-heading5" style="color:#000000;text-align:center;">TRAINING APP</h2>
              <div class="spacer" style="width: 320px; height: 20px;"></div>
              <div>
                <img src="img/c3IieOudRsioRe8WuAsO_Apps.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <a ui-sref="trainingApp()" id="sliderPage-button8" class="button button-positive button-block">ENTER</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>