<ion-view title="Training App" hide-back-button="true" id="page1">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/VKP7lvTKCY5SJh71MtQa_banner.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="trainingApp-list1">
      <ion-item class="item-icon-left positive" id="trainingApp-list-item1">
        <i class="icon ion-android-apps"></i>Operating System</ion-item>
      <ion-item class="item-thumbnail-left" id="trainingApp-list-item2" ui-sref="android()">
        <img src="img/yGkH6DyWS3uhoNxvxnCd_androidlogo.png">
        <h2>ANDROID</h2>
        <p style="white-space:normal;">Android is a mobile operating system developed by Google</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="trainingApp-list-item3" ui-sref="iOS()">
        <img src="img/ApltC2QRBilHCt9hSta7_ioslogo.png">
        <h2>iOS</h2>
        <p style="white-space:normal;">iOS is a mobile operating system developed by Apple</p>
      </ion-item>
    </ion-list>
    <a ui-sref="aboutUs()" id="trainingApp-button1" class="button button-positive button-block icon-left ion-alert-circled">ABOUT US</a>
  </ion-content>
</ion-view>